/* 13. Utilities */
.d-flex {
    display: flex !important;
}

.justify-between {
    justify-content: space-between !important;
}

.align-center {
    align-items: center !important;
}

.gap-2 {
    gap: 1rem !important;
}

.mb-4 {
    margin-bottom: 2rem !important;
}